.nav {
        list-style: none;

        width: 50vw;
        margin: auto;

       text-align: center;

        padding-left: 0;
         
}

.nav>li {

    border-style: dashed;
    display: inline-block




}


.nav>li>a {

            text-decoration: none;
            color: black;


}









h1 {
    color: green;
font-family: initial;



}

img {

width: 15vw;
height: auto;




}
